@model  IEnumerable<OrderChargeModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel panel-default">
    <div class="panel-heading">订单收费管理</div>
    <div class="panel-body">
        <div class="col-lg-6">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(s => s.Name) </th>
                        <th>@Html.DisplayNameFor(s => s.IsTableColumn) </th>
                        <th>@Html.DisplayNameFor(s => s.IsDeleteAssociations) </th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var charge in Model)
                    {
                        <tr>
                            <td>@charge.Name</td>
                            <td>
                                @{
                                    var isTableColumn = charge.IsTableColumn ? "是" : "否";
                                }
                                @isTableColumn
                            </td>
                            <td>
                                @{
                                    var isDeleteAssociations = charge.IsDeleteAssociations ? "是" : "否";
                                }
                                @isDeleteAssociations
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">操作</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" onclick="editCharge('@charge.Id')">编辑</a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn-postid" data-url="/OrderCharge/DeleteOrderCharge" data-identity="@charge.Id">删除</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6" id="column-container">

        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var columnContainer = $('#column-container');
        if (columnContainer.length == 0) {
            return;
        }
        var action = "/OrderCharge/OrderChargeAddView";
        $.ajax({
            type: "get",
            url: action,
            dataType: "html",
            success: function (data) {
                columnContainer.html(data);
            }
        });
    })

    function editCharge(chargeId) {
        var action = "/OrderCharge/OrderChargeAddView?chargeId=" + chargeId;
        $.ajax({
            type: "get",
            url: action,
            dataType: "html",
            success: function (data) {
                $('#column-container').html(data);
            }
        });
    }
</script>