@model DeliveryNoteModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewData["categories"] as IEnumerable<SelectListItem>;
    var customers= ViewData["customers"] as IEnumerable<SelectListItem>;
}

<div class="row">
    <div class="col-lg-6">
        <form class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(s => s.CategoryId, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.DropDownListFor(s => s.CategoryId, categories, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.CustomerId, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.DropDownListFor(s => s.CustomerId, customers, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Amount, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(s => s.Amount, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.DeliveryTime, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    <div class='input-group date date-select' data-date-format="yyyy-mm-dd" data-link-field="DeliveryTime" data-link-format="yyyy-mm-dd">
                        <input type='text' class="form-control input-search" id="DeliveryTime" name="DeliveryTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Memo, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(s => s.Memo, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-9">
                    <button type="button" class="btn btn-default" onclick="addDeliveryNote()">提交</button>
                    <a class="btn btn-default" href="/DeliveryNote/DeliveryNoteView" type="button">
                        <i class="m-icon-swapleft m-icon-white"></i>
                        返回列表
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6" id="property-container">

    </div>
</div>

<script type="text/javascript">
    function addDeliveryNote() {
        var amount = $('#Amount').val();
        var customerId = $('#CustomerId').val();
        var categoryId = $('#CategoryId').val();
        var deliveryTime = $('#DeliveryTime').val();
        var memo = $('#Memo').val(); 
        var properties = [];
        $('.input-propertyValue').each(function (index) {
            var input = $(this);
            var propertyId = input.attr('name');
            var value = input.val();
            var property = { propertyId: propertyId, value: value };
            properties.push(property);
        })

        var data = {
            amount: amount,
            customerId: customerId,
            categoryId: categoryId,
            memo: memo,
            deliveryTime:deliveryTime,
            properties: properties
        }

        var url = '/DeliveryNote/AddDeliveryNote';
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType: "json",
            success: function (data) {
                ajaxSuccess(data, function (data) {
                    window.location.reload();
                })
            },
            error: function (data) { }
        });
    }

    $(function () {
        categoryChange($('#CategoryId'));
    })

    function categoryChange(category) {
        var categoryId = category.children('option:selected').val();
        if (categoryId == '' || categoryId == null) {
            return false;
        }
        var url = "/DeliveryNoteCategory/DeliveryNoteCategoryPropertyValueView?categoryId=" + categoryId;
        $.ajax({
            type: "get",
            url: url,
            dataType: "html",
            success: function (data) {
                $('#property-container').html(data);
            },
            error: function (data) {
                $('#property-container').html('<p>页面错误</p>');
            }
        });
    }

    $(document).ready(function () {
        $('#CategoryId').change(function () {
            categoryChange($(this));
        })
    })
</script>
