@model DeliveryNoteDetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <form class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(s => s.DeliveryNote.CategoryName, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(s => s.DeliveryNote.CategoryName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.DeliveryNote.CustomerName, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(s => s.DeliveryNote.CustomerName, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.DeliveryNote.DeliveryTime, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    <div class='input-group date date-select' data-date-format="yyyy-mm-dd" data-link-field="DeliveryTime" data-link-format="yyyy-mm-dd">
                        <input type='text' class="form-control input-search" id="DeliveryTime" name="DeliveryTime" value="@Model.DeliveryNote.DeliveryTime.ToString("yyyy-MM-dd")" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.DeliveryNote.Amount, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(s => s.DeliveryNote.Amount, new { @class = "form-control", id = "Amount" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.DeliveryNote.Memo, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(s => s.DeliveryNote.Memo, new { @class = "form-control", id = "Memo" })
                </div>
            </div>
            @if (Model.DeliveryNote.HasProperties)
            {
                foreach (var property in Model.DeliveryNote.Properties)
                {
                    <div class="form-group">
                        @Html.Label(property.PropertyName, new { @class = "col-lg-3 control-label" })
                        <div class="col-lg-9">
                            @Html.TextBox(property.Id.ToString(), property.Value, new { @class = "form-control input-propertyValue" })
                        </div>
                    </div>
                }
            }
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9">
                    <input type="button" class="btn btn-primary" onclick="editDeliveryNote('@Model.DeliveryNote.Id')" value="保存" />
                    <a class="btn btn-default" href="/DeliveryNote/DeliveryNoteView" type="button">
                        <i class="m-icon-swapleft m-icon-white"></i>
                        返回列表
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-8">

    </div>
</div>

<script type="text/javascript">
    function editDeliveryNote(id) {
        var amount = $('#Amount').val();
        var deliveryTime = $('#DeliveryTime').val();
        var memo = $('#Memo').val(); 
        var properties = [];
        $('.input-propertyValue').each(function (index) {
            var input = $(this);
            var id = input.attr('name');
            var value = input.val();
            var property = { id: id, value: value };
            properties.push(property);
        })

        var data = {
            id: id,
            amount: amount,
            deliveryTime: deliveryTime,
            memo: memo,
            properties: properties
        }

        var url = '/DeliveryNote/EditDeliveryNote';
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType: "json",
            success: function (data) {
                ajaxSuccess(data, function (data) {
                    window.location.reload();
                })
            },
            error: function (data) { }
        });
    }
</script>
