@model CustomerDetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <form class=" form-horizontal">
            <div class="form-group">
                @Html.LabelFor(s => s.Customer.Name, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Customer.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Customer.Address, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Customer.Address, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Customer.MobileNumber, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Customer.MobileNumber, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group">
                @Html.LabelFor(s => s.Customer.KnownDate, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Customer.KnownDate, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(s => s.Customer.LevelName, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(s => s.Customer.LevelName, new { @class = "form-control" })
                </div>
            </div>*@
            @foreach (var property in Model.Customer.Properties)
            {
                <div class="form-group">
                    @Html.Label(property.PropertyName, new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBox(property.PropertyId.ToString(), property.Value, new { @class = "form-control" })
                    </div>
                </div>
            }
        </form>
    </div>
    <div class="col-lg-6">

    </div>
</div>
