@model CustomerFinanceDetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel panel-default">
    <div class="panel-heading">客户财务详情</div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(s => s.CustomerFinance.CustomerName, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.CustomerFinance.CustomerName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.CustomerFinance.CategoryName, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.CustomerFinance.CategoryName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.CustomerFinance.Amount, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.CustomerFinance.Amount, new { @class = "form-control", id = "Amount" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.CustomerFinance.FinanceTime, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.CustomerFinance.FinanceTime, new { @class = "form-control", id = "FinanceTime" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.CustomerFinance.Memo, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.CustomerFinance.Memo, new { @class = "form-control", id = "Memo" })
                    </div>
                </div>
                @if (Model.CustomerFinance.HasProperties)
            {
                foreach (var property in Model.CustomerFinance.Properties)
                {
                        <div class="form-group">
                            @Html.Label(property.PropertyName, new { @class = "col-lg-3 control-label" })
                            <div class="col-lg-9">
                                @Html.TextBox(property.Id.ToString(), property.Value, new { @class = "form-control  input-propertyValue" })
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <input type="button" class="btn btn-primary" onclick="editCustomerFinance('@Model.CustomerFinance.Id')" value="保存" />
                        <a class="btn btn-default" href="/CustomerFinance/CustomerFinanceView" type="button">
                            <i class="m-icon-swapleft m-icon-white"></i>
                            返回列表
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>


<script type="text/javascript">
    function editCustomerFinance(id) {
        var amount = $('#Amount').val();
        var memo = $('#Memo').val();
        var properties = [];
      
        $('.input-propertyValue').each(function (index) {
            var input = $(this);
            var id = input.attr('name');
            var value = input.val();
            var property = { id: id, value: value };
            properties.push(property);
        })

        var data = {
            id: id,
            amount: amount,
            memo: memo,
            properties: properties
        };

        var url = '/CustomerFinance/EditCustomerFinance';
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType: "json",
            success: function (data) {
                ajaxSuccess(data, function (data) {
                    window.location.reload();
                })
            },
            error: function (data) { }
        });
    }
</script>
