@model CustomerFinancePageQueryModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customers = ViewData["customers"] as IEnumerable<SelectListItem>;
    var categories = ViewData["categories"] as IEnumerable<SelectListItem>;
}

<div>
    <form class="form-inline  inline-block" id="form-search" data-page="CustomerFinancePageView">
        <div class="form-group">
            @Html.LabelFor(s => s.CustomerId)
            @Html.DropDownListFor(s => s.CustomerId, customers, "全部", new { @class = "form-control input-search" })
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.CategoryId)
            @Html.DropDownListFor(s => s.CategoryId, categories, "全部", new { @class = "form-control input-search" })
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.BeginDate)
            <div class="input-group date date-select" data-date-format="yyyy-mm-dd" data-link-field="BeginDate" data-link-format="yyyy-mm-dd">
                <input type="text" class="form-control input-search" name="BeginDate" value="@DateTime.Now.AddDays(-7).Date.ToString("yyyy-MM-dd")">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.EndDate)
            <div class='input-group date date-select' data-date-format="yyyy-mm-dd" data-link-field="EndDate" data-link-format="yyyy-mm-dd">
                <input type='text' class="form-control input-search" name="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button type="button" data-fromid="form-search" class="btn btn-primary btn-page">
                    <i class="icon-search"></i>
                    查询
                </button>
                <a class="btn btn-success" href="CustomerFinanceAddView">
                    <i class="icon-plus"></i>
                    新增财务记录
                </a>
                <a class="btn btn-success" href="/CustomerFinanceCategory/CustomerFinanceCategoryView">
                    <i class="icon-plus"></i>
                    财务记录分类设置
                </a>
                <a class="btn btn-success" href="/CustomerFinanceProperty/CustomerFinancePropertyView">
                    <i class="icon-plus"></i>
                    财务记录属性设置
                </a>
            </div>
        </div>
    </form>
    <div id="table-container"></div>
    <div>
        <ul class="pagination" id="pagination-container"></ul>
    </div>
</div>