@model PurchaseDetailModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row panel panel-default">
    <div class="panel-heading">商品详情</div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(s => s.Purchase.CategoryName, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.Purchase.CategoryName, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Purchase.GoodsName, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.Purchase.GoodsName, new { @class = "form-control", id = "Name", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Purchase.Quantity, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.Purchase.Quantity, new { @class = "form-control", id = "Quantity" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Purchase.Amount, new { @class = "col-lg-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(s => s.Purchase.Amount, new { @class = "form-control", id = "Amount" })
                    </div>
                </div>
                @if (Model.Purchase.HasProperties)
            {
                foreach (var property in Model.Purchase.Properties)
                {
                        <div class="form-group">
                            @Html.Label(property.PropertyName, new { @class = "col-lg-3 control-label" })
                            <div class="col-lg-9">
                                @Html.TextBox(property.Id.ToString(), property.Value, new { @class = "form-control input-propertyValue" })
                            </div>
                        </div>
                    }
                }
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <input type="button" class="btn btn-primary" onclick="editPurchase('@Model.Purchase.Id')" value="保存" />
                        <a class="btn btn-default" href="/Purchase/PurchaseView" type="button">
                            <i class="m-icon-swapleft m-icon-white"></i>
                            返回列表
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>

<script type="text/javascript">
    function editPurchase(id) {
        var quantity = $('#Quantity').val();
        var amount = $('#Amount').val();
        var properties = [];
        $('.input-propertyValue').each(function (index) {
            var input = $(this);
            var id = input.attr('name');
            var value = input.val();
            var property = { id: id, value: value };
            properties.push(property);
        })

        var data = {
            id: id,
            quantity: quantity,
            amount: amount,
            properties: properties
        }

        var url = '/Purchase/EditPurchase';
        $.ajax({
            type: "post",
            url: url,
            data: data,
            dataType: "json",
            success: function (data) {
                ajaxSuccess(data, function (data) {
                    window.location.reload();
                })
            },
            error: function (data) { }
        });
    }
</script>
