@model IEnumerable<GoodsModel>

@{
    Layout = null;
    var tableColumns = ViewData["tableColumns"] as IEnumerable<CustomizedColumnModel>;
}

<table class="table table-condensed table-striped text-nowrap">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.Name)</th>
            <th>@Html.DisplayNameFor(s => s.Price)</th>
            <th>@Html.DisplayNameFor(s => s.CategoryName)</th>
            @{
                foreach (var column in tableColumns)
                {
                    <th>@column.Name</th>
                }
            }
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goods in Model)
            {
            <tr>
                <td>@goods.Name</td>
                <td>@goods.Price.ToString()</td>
                <td>@goods.CategoryName</td>
                @{
                    foreach (var column in tableColumns)
                    {
                        var property = goods.Properties.FirstOrDefault(s => s.PropertyId == column.Id);
                        var value = property == null ? ConstResources.TableColumnEmptyVlaue : property.Value;
                        <td>@value</td>
                    }
                }
                <td>
                    <a class="btn btn-default" href="/Goods/GoodsDetailView?goodsId=@goods.Id" type="button">详情</a>
                    @if (goods.Saleable)
                    {
                        <a class="btn btn-default" href="/Order/OrderAddView?goodsId=@goods.Id" type="button">下单</a>
                    }
                </td>
            </tr>
                    }
    </tbody>
</table>
