@model IEnumerable<GoodsModel>

@{
    Layout = null;
    var tableColumns = ViewData["tableColumns"] as IEnumerable<CustomizedColumnModel>;
}

<table class="table table-condensed table-striped text-nowrap">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.Name)</th>
            <th>@Html.DisplayNameFor(s => s.Price)</th>
            <th>@Html.DisplayNameFor(s => s.CategoryName)</th>
            @{
                foreach (var column in tableColumns)
                {
                    <th>@column.Name</th>
                }
            }
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goods in Model)
            {
            <tr>
                <td>@goods.Name</td>
                <td>@goods.Price.ToString()</td>
                <td>@goods.CategoryName</td>
                @{
                    foreach (var column in tableColumns)
                    {
                        var property = goods.Properties.FirstOrDefault(s => s.PropertyId == column.Id);
                        var value = property == null ? ConstResources.TableColumnEmptyVlaue : property.Value;
                        <td>@value</td>
                    }
                }
                <td>
                    <div class="form-group btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            操作 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="btn" href="/Goods/GoodsDetailView?goodsId=@goods.Id">
                                    <i class="icon-plus"></i>
                                    详情
                                </a>
                            </li>
                            <li>
                                <a class="btn" href="/Stock/StockView?goodsId=@goods.Id">
                                    <i class="icon-plus"></i>
                                    查看库存
                                </a>
                            </li>
                            <li>
                                <a class="btn" href="/Stock/StockAddView?goodsId=@goods.Id">
                                    <i class="icon-plus"></i>
                                    库存管理
                                </a>
                            </li>
                            @if (goods.Saleable)
                            {
                                <li>
                                    <a class="btn" href="/Order/OrderAddView?goodsId=@goods.Id">销售</a>
                                </li>
                            }
                            @if (goods.Purchaseable)
                            {
                                <li>
                                    <a class="btn" href="/Purchase/PurchaseAddView?goodsId=@goods.Id">采购</a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
                    }
    </tbody>
</table>
